# 作业2-Pandas练习
**作业要求：**

- 在Python Jupyter中回答，**需运行出结果**。
- 网页-打印-另存为pdf，命名：**作业2-班级-学号后两位-姓名.pdf**
- 按时上传职教云，**过期不补**。

### 作业内容：宝可梦数据处理

In [1]:
import pandas as pd
import numpy as np

In [6]:
# 读取宝可梦数据，目录：./data/Pokemon.csv
data = pd.read_csv('./data/Pokemon.csv')
# 查看前五条数据
data.head(5)
data[0: 5]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False

In [7]:
# 显示DataFrame数据的每列的数据类型和非空数据
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      799 non-null    object
 2   Type 2      415 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    object
 10  Generation  800 non-null    object
 11  Legendary   799 non-null    object
dtypes: int64(6), object(6)
memory usage: 75.1+ KB

In [12]:
# 显示DataFrame的描述性统计数据
data.describe()

            Total          HP      Attack     Defense     Sp. Atk     Sp. Def
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   434.818750   69.272500   78.980000   73.842500   72.820000   71.915000
std    120.613641   25.525089   32.477347   31.183501   32.722294   27.816811
min     46.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    330.000000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    450.000000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    515.000000   80.000000  100.000000   90.000000   95.000000   90.000000
max    780.000000  255.000000  190.000000  230.000000  194.000000  230.000000

In [13]:
# 计算Type 1 字段共有几种取值，分别有多少数量
data['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Steel        27
Fighting     27
Poison       27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [14]:
# 查看'Type 1'的值为 'Grass'的数据
data[data['Type 1'] == 'Grass']

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False
48,Oddish,Grass,Poison,320,45,50,55,75,65,30,Gen 1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,313,56,61,65,48,45,38,Gen 6,False
719,Quilladin,Grass,NaN,405,61,78,95,56,58,57,Gen 6,False
720,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,Gen 6,False
740,Skiddo,Grass,NaN,350,66,65,48,62,57,52,Gen 6,False
741,Gogoat,Grass,NaN,531,123,100,62,97,81,68,Gen 6,False

In [15]:
# 查看 total > 700 且 Attack > 100 的数据
data[(data['Total'] > 700) & (data['Attack'] > 10)]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,Gen 1,True
164,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,Gen 1,True
422,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,Gen 3,True
424,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,Gen 3,True
426,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,Gen 3,True
552,Arceus,Normal,NaN,720,120,120,120,120,120,120,Gen 4,True

In [16]:
# 查看'Name'字段以'Ka'开头的数据
data[data['Name'].str.startswith("Ka")]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
17,Kakuna,Bug,Poison,205,45,25,50,25,25,35,Gen 1,False
69,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,Gen 1,False
123,Kangaskhan,Normal,NaN,490,105,95,80,40,80,90,Gen 1,False
124,KangaskhanMega Kangaskhan,Normal,NaN,590,105,125,100,60,100,100,Gen 1,False
151,Kabuto,Rock,Water,355,30,80,90,55,45,55,Gen 1,False
152,Kabutops,Rock,Water,495,60,115,105,65,70,80,Gen 1,False
649,Karrablast,Bug,NaN,315,50,75,45,40,45,60,Gen 5,False

In [24]:
# 新增一个列，命名为'new_col'，值为'HP'数值的1/100
data['new_col'] = data['HP'] / 100
data

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,new_col
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False,0.45
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False,0.60
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False,0.80
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False,0.80
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False,0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,Gen 6,True,0.50
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,Gen 6,True,0.50
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,Gen 6,True,0.80
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,Gen 6,True,0.80
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,Gen 6,True,0.80

In [25]:
# 删除刚才创建的列'new_col'
data = data.drop(['new_col'], axis=1)
# data.drop(['new_col'], axis=1, inplace=True)
data.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,Gen 1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,Gen 1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Gen 1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Gen 1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,Gen 1,False

In [34]:
# 添加一个新列new_col_2，布尔类型，当以下两项均满足时为True，否则为False
# 条件1：Name 以 'B'开头。  条件2：Type 2 为空。
data['new_col_2'] = data['Name'].str.startswith('B') & (data['Type 2'].isnull())
print(data['new_col_2'].value_counts())
data[data['new_col_2'] == True]
data[data['new_col_2'] == True].shape

False    778
True      22
Name: new_col_2, dtype: int64

(22, 13)

In [35]:
# 显示'new_col_2'中为True的数据
data['Type 2'].isnull().sum()

385

In [40]:
# 查看Type 2 为空的记录数
# isna(), isnull(), dropna(), fillna()
data['Type 2'].fillna('Unknown', inplace=True)

In [42]:
# 将Type 2的空字段，填充为'Unknown'
data['Type 2'].isnull().sum()

0

In [43]:
# 再来查看Type 2 为空的记录数

data['Type 2'].value_counts()

Unknown     385
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
273           1
Name: Type 2, dtype: int64